/* Sidebar scrollbar styling */
[data-sidebar="content"]::-webkit-scrollbar {
  width: 3px;
}

[data-sidebar="content"]::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted));
  border-radius: 9999px;
}

[data-sidebar="content"]::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--muted-foreground));
}

[data-sidebar="content"]::-webkit-scrollbar-track {
  background: rgba(45, 45, 45, 0.067);
}

/* Hide scrollbar but keep scroll functionality */

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: none; /* hides scrollbar */
}

/* IE & old Edge */
.custom-scrollbar {
  -ms-overflow-style: none;
}
/* @media print {
  body {
    background: white;
  }


  body * {
    visibility: hidden;
  }


  #invoice-print,
  #invoice-print * {
    visibility: visible;
  }

  #invoice-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
@page {
  size: A4;
  margin: 20mm;
} */

/* print the barcode */

/* @media print {
  html,
  body {
    width: 50mm;
    height: 25mm;
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden;
  }

  #barcode-print,
  #barcode-print * {
    visibility: visible;
  }

  #barcode-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 50mm;
    height: 25mm;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@page {
  size: 50mm 25mm;
  margin: 0;
} */
